* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Fira Sans', sans-serif;
    position: relative;
  }
  
  .output {
    display: block;
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    font-size: 20px;
    height: calc(100vh - 380px);
    min-height: 300px;
    border-radius: 5px;
    color:  rgba(75, 104, 198, 0.8);
    border: 2px solid rgba(75, 104, 198, 0.8);
  }
  
  .use-keyboard-input:active {
    border: 2px solid rgba(75, 104, 198, 1);
  
  }
  
  .use-keyboard-input:focus {
    border: 2px solid rgba(75, 104, 198, 1);
  
  }
  
  .keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 5px 0;
    background: #004134;
    background-image: linear-gradient(35deg, #053561, #175887, #267dae, #35a5d7);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s ease-in-out;
  }
  
  .keyboard--hidden {
    bottom: -100%;
  }
  
  .keyboard__keys {
    text-align: center;
  }
  
  .keyboard__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px 0;
  }
  
  .keyboard__key {
    font-family: 'Fira Sans', sans-serif;
    height: 45px;
    width: fit-content;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(45deg, rgba(43, 29, 183, 0.2), rgba(75, 104, 198, 0.2), rgba(77, 172, 212, 0.2), rgba(17, 242, 224, 0.2));
    color: #ffffff;
    outline: none;
    cursor: pointer;
    flex: 1 1 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0 10px;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    transition: .3s ease-in-out;
  }
  
  .keyboard__key-active {
    background: rgba(255, 255, 255, 0.12);
    background-image: linear-gradient(45deg, rgba(43, 29, 183, 0.1), rgba(75, 104, 198, 0.1), rgba(77, 172, 212, 0.1), rgba(17, 242, 224, 0.1));
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.3);
  }
  
  .keyboard__key .sub {
    position: absolute;
    left: 3px;
    top: 1px;
    font-size: clamp(11px, 0.5rem, 15px);
  }
  
  .keyboard__key .small {
    font-size: clamp(13px, 1rem, 20px);
  }
  
  .keyboard__key-Fn_active {
    background: rgba(255, 255, 255, 0.12);
    background-image: linear-gradient(45deg, rgba(43, 29, 183, 0.4), rgba(75, 104, 198, 0.4), rgba(77, 172, 212, 0.4), rgba(17, 242, 224, 0.4));
    border: 2px solid rgba(17, 242, 224, 0.6);
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.1);
  }